
<%- include('partials/header.ejs') %>
<body>
    <section class="home">
        <div class="home-content">
            <p class="p1">Hi, my name is</p>
            <h1>Armah Saah.</h1>
            <h2>I build things for applications.</h2>
            <p> A kingdom Developer, software Engineer and a data scientist from the United States
                highly in building complex applications and websites with
                modern technologies. A kingdom Developer, software Engineer and a data scientist from the United States.
            </p>
            <div class="btn-box">
                <a href="#">Let's Talk</a>
            </div>
        </div>
        <a class="right-sticky" href="#"> mosessaah@oru.edu...</a>
        
    </section>

    <section class="about" id="about">
        <div class="abt-content">
            <h1 class="abt-head"> 01. About Me </h1>
            <p>
                Hello! My ame is Moses and I enjoy finding and architeching solutions. I building applications and handling the 
                the deployment and operational aspect of it.At the beginning of each iteration:The current node being considered, 
                along with its subtrees, is a valid 2-3 tree. 
            </p>
            <h2>Technical</h2>
        
            <p>
                The current node satisfies the search property, balance property, and no underfull nodes.
                After performing the deletion operation within the current node: The current node is updated
                to maintain the search property, balance property, and no underfull nodes. After recursively 
                calling the deletion operation on a child subtree:
            </p>
            <h2>Personal</h2>
            <p>
                The current node is updated to maintain the search property, balance property, and no overfull nodes. 
                After recursively calling the insertion operation on a child subtree:
                The child subtree is a valid 2-3 tree, and the update of the current node ensures 
                that the parent-child relationships adhere to the search.
            </p>
        
        </div>
        <div class="abt-image">
            <img src="./assets/images/profile.jpg" alt="">
        </div>
    </section>

</body>