
<%- include('partials/header.ejs') %>
<body>
    <section class="home">
        <div class="home-content">
            <p class="p1">Hi, my name is</p>
            <h1>Armah Saah.</h1>
            <h2>I build things for applications.</h2>
            <p> A kingdom Developer, software Engineer and a data scientist from the United States
                highly in building complex applications and websites with
                modern technologies. A kingdom Developer, software Engineer and a data scientist from the United States.
            </p>
            <div class="btn-box">
                <a href="#">Download CV</a>
                <a href="#">Let's Talk</a>
            </div>
        </div>
    </section>
    <%- include('./about.ejs') %>
    <%- include('./portfolio.ejs') %>
    
</body>