<section class="Portfolio">
    <h1 class="p-head">Current and Past Projects</h1>
    <h2 class="p-head1">View the achieves</h2>
    <div class="p-port">
        <div class="p-column column1">
            <div class="p" id="p1">
                <nav class="abt-nav">
                    <img class="img-github" src ="./assets/images/github.svg" alt="">
                    <img class="img-connect" src ="./assets/images/connect.png" alt="">
                </nav>
                <a class="project-title" href="#">Nigeria Medical Record System from scratch</a>
                <p class="p-content">Check the amazing record system build to forge Patient-Doctor relationship and maintan medical standards in Nigeria</p>
                <p class="libraries"> Node.js | Javascript | React | html & css</p>
                
            </div>
            <div class="p" id="p2"></div>
            <div class="p" id="p3"></div>
        </div>
        <div class="p-column column2" >
            <div class="p" id="p4"></div>
            <div class="p" id="p5"></div>
            <div class="p" id="p6"></div>
        </div>
        <div class="p-column column3" >
            <div class="p" id="p7"></div>
            <div class="p" id="p8"></div>
            <div class="p" id="p9"></div>
        </div>
    </div>
</section>