
<section class="skills">
    <h1 class="skills-head">Skills</h1>
    <h2 class=" skills-head">Development and DevOps </h2>
    <div class=" skill-items">
        <div class="items">
            <div class="item">
                <h1>Programming</h1>
                <h2>Solid background in computer science</h2>
                <ul>
                    <li>Data structure & Algorithms</li>
                    <li>excellent in c++, python, java and R</li>
                    <li>Advance Oops concepts</li>
                </ul>
            </div>
            <div class="item">
                <h1>Web Development</h1>
                <h2>Fullstack </h2>
                <ul>
                    <li>Frontend: HTML, CSS, react Javascript</li>
                    <li>Database Development</li>
                    <li>Nodejs, express, moongodb</li>
                    <li>Authentication</li>
                    <li></li>
                    
                </ul>
            </div>
        </div>
        
    </div>
   
</section>